body {
margin: 0;
 }
.hospital-header {
background-color:#20c997;
color: white;
padding: 20px 0;
position: sticky;
top: 0px;
bottom: 0px;
}
.container {
display: flex;
align-items: center;
justify-content: space-between;
max-width: 1200px;
margin: 0 auto;
padding: 0 20px;
}
.logo i {
font-size: 40px;
}

.hospital-name {
text-align: center;
flex-grow: 1;
}
.hospital-name h1 {
margin: 0;
font-size: 28px;
}

.hospital-name p {
margin: 5px 0 0;
font-size: 18px;
}

.nav-links a {
color: white;
text-decoration: none;
margin-left: 20px;
font-size: 18px;
}

.nav-links a:hover {
text-decoration: underline;
}
/*.........appointment......*/
.appointment-container {
background: #fff;
padding: 20px;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
width: 600px;
height: auto;
margin-top: 120px;
margin-left: 80px;

}

.appointment-container h2 {
text-align: center;
margin-bottom: 20px;
color: #333;
}

.appointment-container label {
display: block;
margin-bottom: 5px;
color: #555;
}

.appointment-container input,
.appointment-container select {
width: 100%;
padding: 10px;
margin-bottom: 15px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}

.appointment-container button {
width: 100%;
padding: 10px;
border: none;
border-radius: 4px;
background-color: #007bff;
color: #fff;
font-size: 16px;
cursor: pointer;
}
.appointment-container button:hover {
background-color: #0056b3;
}
.App{
height: auto;
width: 100%;
background-color: #20c997;
display: flex;
margin-top: 20px;
}
.sub_appointment{
height: auto;
width: 700px;
margin-left: 50px;
margin-top: 120px;
}
/*...............fooder..........*/
.hospital-footer {
background-color: #00b386;
color: white;
padding: 20px 0;
margin-top: 20px;
}

.container {
display: flex;
justify-content: space-between;
max-width: 1200px;
margin: 0 auto;
padding: 0 20px;
}

.footer-section {
flex: 1;
margin: 0 20px;
}

.footer-section h3 {
margin-top: 0;
}

.footer-section ul {
list-style-type: none;
padding: 0;
}

.footer-section ul li {
margin: 5px 0;
}

.footer-section ul li a {
color: white;
text-decoration: none;
}

.footer-section ul li a:hover {
text-decoration: underline;
}

.footer-section a {
color: white;
text-decoration: none;
display: block;
margin: 5px 0;
}

.footer-section a:hover {
text-decoration: underline;
}

.footer-bottom {
text-align: center;
margin-top: 20px;
}

.footer-bottom p {
margin: 0;
}
